body{
    background-color: #2E4053;
}

.regis{
    background: white;
    width: 35%;
    height: 600px;
    border: 1px solid #2E4053;
    border-radius: 25px;
    margin-top: 150px;
}

.regis h1{
    text-align: center;
    padding: 0px;
    color: black;
    font-family: 'Times New Roman', Times, serif;

}

.regis .box{
    text-align: center;
    width: 90%;
    margin-top: 1px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid gray;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background: transparent;

}

.regis .submit{
    margin-top: 20px;
    width: 45%;
    height: 40px;
    background: gray;
    border: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 25px;
}

/* LOGIN */
.form{
    background: white;
    width: 35%;
    height: 500px;
    border: 1px solid #2E4053;
    border-radius: 25px;
    margin-top: 150px;
}

.form h1{
    text-align: center;
    padding: 0px;
    color: black;
    font-family: 'Times New Roman', Times, serif;

}

.form .box{
    text-align: center;
    width: 90%;
    margin-top: 1px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid gray;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background: transparent;

}

.form .submit{
    margin-top: 20px;
    width: 45%;
    height: 40px;
    background: gray;
    border: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 25px;
}